@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --color-cyan:          hsl(179, 62%, 43%);
  --color-light-cyan:    hsl(179, 53%, 51%);
  --color-bright-yellow: hsl(71, 73%, 54%);
  --color-light-gray:    hsl(204, 43%, 93%);
  --color-grayish-blue:  hsl(218, 22%, 67%);
  --color-white:         hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--color-light-gray);
}

li {
  list-style: none;
  line-height: 1.5;
  color: var(--color-light-gray);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
}

button {
  display: block;
  width: 100%;
  padding: 1.25rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  color: var(--color-white);
  background-color: var(--color-bright-yellow);
  box-shadow: 0rem 0.5rem 1.8rem -0.3rem hsla(0, 0%, 32%, 0.4);
}

.container {
  width: 86%;
  margin: 0 auto;
}

.grid {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0rem 0.5rem 1.8rem -0.3rem hsla(0, 0%, 32%, 0.4);

  &__appeal {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    background-color: var(--color-white);

    & .grid__heading {
      color: var(--color-cyan);
    }

    & .grid__subheading {
      font-size: 1.15rem;
      color: var(--color-bright-yellow);
    }

    & .grid__text {
      color: var(--color-grayish-blue);
    }
  }

  &__text {
    line-height: 1.6;
  }

  &__cta {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    color: var(--color-white);
    background-color: var(--color-cyan);

    & .grid__text {
      color: var(--color-white);
      margin-bottom: 1.5rem;
    }
  }

  &__price {
    font-size: 3rem;
    font-weight: 400;
    
    span {
      display: inline-block;
      font-size: 1.25rem;
      color: var(--color-light-gray);
      vertical-align: middle;
    }
  }

  &__benefits {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    background-color: var(--color-light-cyan);
    color: var(--color-white);
  }
}

.attribution {
  display: none;
}
